.untitled0,
.untitled1,
.untitled2 { background-image: url('untitled_icons.png'); width: 16px; height: 16px; }

.untitled0 { background-position: -0px; }
.untitled1 { background-position: -16px; }
.untitled2 { background-position: -32px; }
