---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    <!-- Google Tag Manager 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M7FCL6D');</script>
  End Google Tag Manager -->

    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
    <!-- google add <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3372414075977151",
          enable_page_level_ads: true
     });
    </script>
  
    <script data-ad-client="ca-pub-3372414075977151" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) 
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7FCL6D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  End Google Tag Manager (noscript) -->

    <div class="root" data-is-touch="false">
      
      {% raw %}
$\definecolor{PURPLEA}{rgb}{0.60, 0.40, 0.80}
\definecolor{GREENC}{rgb}{0.514, 0.757, 0.404}
\definecolor{BLUEC}{rgb}{0.345, 0.769, 0.867}
\definecolor{YELLOWE}{rgb}{0.91, 0.757, 0.11}
\definecolor{REDC}{rgb}{0.988, 0.384, 0.333}
\definecolor{TEALC}{rgb}{0.027, 0.737, 0.580}
\newcommand\GR[1]{{\color{GREENC}#1}}
\newcommand\PP[1]{{\color{PURPLEA}#1}}
\newcommand\TL[1]{{\color{TEALC}#1}}
\newcommand\PK[1]{{\color{PURPLEA}#1}}
\newcommand\BL[1]{{\color{BLUEC}#1}}
\newcommand\OR[1]{{\color{YELLOWE}#1}}
\newcommand\rd[1]{{\color{REDC}#1}}
\newcommand\GRx{\GR{x}}\newcommand\GRy{\GR{y}}
\newcommand\TLx{\TL{x}}\newcommand\TLy{\TL{y}}\newcommand\PKx{\PK{x}}\newcommand\PKy{\PK{y}}\newcommand\PPx{\PK{x}}\newcommand\PPy{\PK{y}}
\newcommand\BLx{\BL{x}}\newcommand\BLy{\BL{y}}\newcommand\ORx{\OR{x}}\newcommand\ORy{\OR{y}}\newcommand\rdx{\rd{x}}\newcommand\rdy{\rd{y}}$ 
{% endraw %}
      {{ content }}


    </div>

    
    <script>
      {%- include scripts/common.js -%}
    </script>

    </body>
</html>
